textarea {
    width: 100%;
}

input[type=submit] {
    margin-top: 10px;
}

.answer-container {
    display: flex;
}

.answer-ele {
    flex: 1;
    margin-right: 10px;
}

.err {
    background-color: darksalmon;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    background-color: aquamarine;
}

.nav-item {
    display: flex;
}

.nav-item ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item li {
    margin-left: 15px;
}

.home {
    font-weight: bold;
}

.nav-item a {
    text-decoration: none;
    color: #333;
}