textarea {
    width: 100%;
}

input[type=submit] {
    margin-top: 10px;
}

.answer-container {
    display: flex;
}

.answer-ele {
    flex: 1;
    margin-right: 10px;
}

#new-question-err {
    background-color: darksalmon;
}