textarea {
    width: 100%;
}

input[type=submit] {
    margin-top: 10px;
}

.answer-container {
    display: flex;
}

.answer-ele {
    flex: 1;
    margin-right: 10px;
}

.err {
    background-color: darksalmon;
}

/* 네비게이션바 */
nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    background-color: aquamarine;
}

.nav-item {
    display: flex;
}

.nav-item ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item li {
    margin-left: 15px;
}

.home {
    font-weight: bold;
}

.nav-item a {
    text-decoration: none;
    color: #333;
}

/* 페이지바 */
.page-bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-bar li {
    display: inline-block;
    margin: 0 5px;
}

.page-bar li.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.page-bar li.active a {
    font-weight: bold;
}