<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

    <div layout:fragment="content">

        <a th:href="@{/question/create}">질문 등록하기</a>
        <table>
            <thead>
            <tr>
                <th>제목</th>
                <th>작성 일시</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="question, index : ${questionList}">
                <td>
                    <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
                </td>
                <td th:text="${question.createDate}"></td>
            </tr>
            </tbody>
        </table>        
    </div>
</html>
