<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">

    <div layout:fragment="content">
        <h3 th:text="${question.subject}"></h3>
        <div th:text="${question.content}"></div>

        <h5 th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>

        <div>
            <div class="answer-container" th:each="answer : ${question.answerList}">
                <div class="answer-ele" th:text="${answer.content}"></div>
                <div class="answer-ele" th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></div>
            </div>
        </div>

        <form th:action="@{|/answer/create/${question.id}|}" th:object="${answerForm}" method="post">
            <div th:replace="~{form_errors :: formErrorsFragment}"></div>
            <textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" rows="15"></textarea>
            <textarea sec:authorize="isAuthenticated()" th:field="*{content}" rows="15"></textarea>
            <input type="submit" value="답변 등록">
        </form>
    </div>
</html>

