<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">

    <div layout:fragment="content">
        <h3 th:text="${question.subject}"></h3>
        <div th:text="${question.content}"></div>
        <div><span th:if="${question.author != null}" th:text="${question.author.username}"></span></div>
        <div th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></div>
        <div>modified at</div>
        <div th:if="${question.modifyDate != null}" th:text="${#temporals.format(question.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
        <div>
            <a th:href="@{|/question/modify/${question.id}|}" sec:authorize="isAuthenticated()"
               th:if="${question.author != null and #authentication.getName() == question.author.username}"
               th:text="수정"></a>
            <a class="delete"
               href="javascript:void(0);"
               th:data-uri="@{|/question/delete/${question.id}|}"
               sec:authorize="isAuthenticated()"
               th:if="${question.author != null and #authentication.getName() == question.author.username}"
               th:text="삭제"></a>
        </div>

        <h5 th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>

        <div>
            <div class="answer-container" th:each="answer : ${question.answerList}">
                <div class="answer-ele" th:text="${answer.content}"></div>
                <div class="answer-ele"><span th:if="${answer.author != null}" th:text="${answer.author.username}"></span></div>
                <div class="answer-ele" th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                <div>modified at </div>
                <div class="answer-ele" th:if="${answer.modifyDate != null}" th:text="${#temporals.format(answer.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                <div>
                    <a th:href="@{|/answer/modify/${answer.id}|}"
                        sec:authorize="isAuthenticated()"
                        th:if="${answer.author != null and #authentication.getName() == answer.author.username}"
                        th:text="수정"></a>
                    <a class="delete"
                       href="javascript:void(0);"
                       th:data-uri="@{|/answer/delete/${answer.id}|}"
                       sec:authorize="isAuthenticated()"
                       th:if="${answer.author != null and answer.author.username == #authentication.getName()}"
                       th:text="삭제"></a>
                </div>
            </div>
        </div>

        <form th:action="@{|/answer/create/${question.id}|}" th:object="${answerForm}" method="post">
            <div th:replace="~{form_errors :: formErrorsFragment}"></div>
            <textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" rows="15"></textarea>
            <textarea sec:authorize="isAuthenticated()" th:field="*{content}" rows="15"></textarea>
            <input type="submit" value="답변 등록">
        </form>
    </div>
<script layout:fragment="script" type="text/javascript">
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function (element) {
        element.addEventListener('click', function () {
           if(confirm("정말로 삭제하시겠습니까?")) {
               location.href = this.dataset.uri;
           }
        });
    });
</script>
</html>

